.weather-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  border: 4px solid white;
  width: 60%;
  height: 250px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  color: white;
  font-weight: bold;
  text-align: center;
  backdrop-filter: blur(2px);
  font-family: 'Roboto', sans-serif;
}

.btn-area {
  justify-content: center;
  font-family: 'Noto Sans KR', sans-serif;
}
.btn-area button {
  width: 150px;
  margin: 10px 5px;
}

.city-name {
  font-size: 35px;
  margin-bottom: 10px;
  letter-spacing: 3px;
}
.weather-content {
  font-size: 28px;
  margin-bottom: 10px;
}
.weather-desc {
  font-size: 18px;
}
.humidity {
  color: rgb(62, 135, 245);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container h2 {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.icon-image {
  position: relative;
  bottom: 3px;
}

@media only screen and (max-width: 600px) {
  .weather-box {
    width: 80%;
  }
}
