.weather-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}

.weather-box {
  border: 4px solid white;
  width: 60%;
  height: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  color: white;
  font-weight: bold;
  text-align: center;
  backdrop-filter: blur(2px);
  font-family: 'Roboto', sans-serif;
}

.btn-area {
  justify-content: center;
  font-family: 'Noto Sans KR', sans-serif;
}
.btn-area button {
  width: 150px;
  margin: 10px 5px;
}

.city-name {
  font-size: 35px;
  margin-bottom: 15px;
  letter-spacing: 3px;
}
.weather-content {
  font-size: 28px;
  margin-bottom: 10px;
}
.weather-desc {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
}
.humidity {
  color: rgb(62, 135, 245);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.container h4 {
  color: rgb(86, 127, 216);
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.search-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
#inputCity {
  width: 50%;
  margin-bottom: 30px;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
  z-index: 1000;
  margin-top: 20px;
  position: relative;
  top: 90px;
}

#inputCity:focus {
  outline: none;
}

/* @media only screen and (max-width: 900px) {
  #inputCity {
    top: 100px;
  }
} */

@media only screen and (max-width: 600px) {
  .weather-box {
    width: 80%;
  }
  #inputCity {
    width: 80%;
  }
}

@media only screen and (max-width: 450px) {
  #inputCity {
    top: 10px;
  }
  .weather-area {
    margin-top: 25px;
  }
  .weather-desc {
    background-color: white;
    border-radius: 5px;
    color: rgb(102, 135, 206);
    padding: 5px;
  }
}
